// MIXINS
@import '../../styles/global/mixins';

// STYLES
.about {
  @include flex(column, nowrap, center, center);
  gap: clamp(1.25rem, 2.5vw, 5rem);
  padding: clamp(0.5rem, 1vw, 2rem) clamp(1.5rem, 3vw, 6rem);

  &-title {
    font-size: clamp(3.5rem, 7vw, 14rem);
  }
  &-span {
    color: var(--components-one);
  }
  &-art {
    @include flex(column, nowrap, center, center);
    gap: clamp(1rem, 1.5vw, 3rem);
    padding: 0 clamp(1rem, 15vw, 30rem);

    @include mediamax(480px) {
      & {
        padding: 0;
      }
    }
  }
  &-subtitle {
    font-size: clamp(1.5rem, 2.5vw, 5rem);
    position: relative;

    &::before {
      content: '';
      width: clamp(1rem, 1vw, 2.5rem);
      height: clamp(1rem, 1vw, 2.5rem);
      position: absolute;
      top: -25%;
      right: -25%;
      border: 0.1875rem solid var(--components-one);
      border-left: transparent;
      border-bottom: transparent;
      transition: 700ms;
    }
    &::after {
      content: '';
      width: clamp(1rem, 1vw, 2.5rem);
      height: clamp(1rem, 1vw, 2.5rem);
      bottom: -25%;
      left: -25%;
      position: absolute;
      border: 0.1875rem solid var(--components-one);
      border-right: transparent;
      border-top: transparent;
      transition: 700ms;
    }
  }
  &-description {
    font-size: clamp(1rem, 1.5vw, 3rem);
    align-self: flex-start;
  }
  &-ul {
    @include flex(row, wrap, center, center);
    gap: clamp(1rem, 2vw, 4rem);
  }
  &-li {
    font-size: clamp(1rem, 1.5vw, 3rem);
  }
}
