@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
  // COLORS
  --white-one: #ffffff;
  // TYPOGRAPHY
  --family-one: 'Oswald', sans-serif;
}

[data-theme='light'] {
  // COMPONENTS
  --components-one: #2a7df4;
  --components-two: #ffffff;
  --widget-line: #ffffff;
  --widget-line-active: #ffffff;
  // COLORS
  --text-one: #1c2029;
  --text-two: #ffffff;
  // BACKGROUNDS
  --background-one: #ececec;
}
[data-theme='dark'] {
  // COMPONENTS
  --components-one: #0b62da;
  --components-two: #ffffff;
  --widget-line: #ffffff;
  --widget-line-active: #1c2029;
  // COLORS
  --text-one: #ffffff;
  --text-two: #1c2029;
  // BACKGROUNDS
  --background-one: #010101;
}

* {
  &::-webkit-scrollbar {
    width: 0.5rem;
    background-color: var(--background-one);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--text-one);
    border-radius: 3rem;
  }

  &,
  &::before,
  &::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    vertical-align: baseline;
  }

  &::before,
  &::after {
    display: block;
  }
}

::-moz-selection {
  background-color: var(--text-one);
  color: var(--background-one);
}

::selection {
  background-color: var(--text-one);
  color: var(--background-one);
}

body {
  background-color: var(--background-one);
  max-width: 3500px;
  margin: 0 auto;
}

#root {
  min-height: 100vh;
  color: var(--text-one);
  font-size: 100%;
  font-family: var(--family-one);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

a {
  display: block;
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
}

form,
input,
textarea,
select,
button,
label {
  color: inherit;
  display: block;
  font-size: inherit;
  font-family: inherit;
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}
