// MIXINS
@import '../../styles/global/mixins';

// STYLES
.hero {
  display: grid;
  grid-template:
    'hero1 hero2' auto
    / 1fr 1.25fr;
  place-content: center;
  padding: clamp(1rem, 1vw, 2rem) clamp(2rem, 2vw, 4rem);
  gap: clamp(1.25rem, 2.5vw, 5rem);

  &-info {
    grid-area: hero1;
    display: flex;
    flex-direction: column;
  }
  &-name {
    font-size: clamp(3.5rem, 7vw, 14rem);
  }
  &-span {
    color: var(--components-one);
  }
  &-rol {
    color: #bebebe;
    font-size: clamp(1.5rem, 3vw, 6rem);
  }
  &-btn {
    color: var(--components-two);
    font-size: clamp(1rem, 1.5vw, 3rem);
    background-color: var(--components-one);
    align-self: center;
    margin-top: clamp(1.25rem, 2.5vw, 5rem);
    padding: 0.75em 1.25em;
  }
  &-projects {
    grid-area: hero2;
    display: grid;
    grid-template:
      'img1 img2'
      'img3 img4'
      / 1fr 1fr;
    gap: clamp(0.5rem, 0.5vw, 1rem);
  }
  &-picture {
    position: relative;
    transition: 500ms;

    &:hover {
      transform: translate(-25%, -15%) scale(1.25);

      .redirect-group {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }
    }
  }
}

// MEDIAQUERYS
@include mediamax(796px) {
  .hero {
    grid-template:
      'hero1' auto
      'hero2' auto
      / 1fr;

    &-projects {
      display: none;
    }
  }
}
