// MIXINS
@import '../../styles/global/mixins';

// STYLES
.contact {
  @include flex(column, nowrap, center, center);
  gap: clamp(0.5rem, 1vw, 2rem);
  padding: clamp(0.5rem, 1vw, 2rem) clamp(1.5rem, 3vw, 6rem);

  &-title {
    font-size: clamp(3.5rem, 7vw, 14rem);
  }
  &-span {
    color: var(--components-one);
  }
}
