// MIXINS
@import '../../styles/global/mixins';

// STYLES
.header {
  padding: 1rem 2rem;

  &-ul {
    @include flex(row, wrap, center, center);
    gap: 3rem;
  }
  &-li {
    @include flex(column, nowrap, center, center);

    &:hover {
      .header-line {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }
    }
  }
  &-a {
    font-size: clamp(0.75rem, 1.25vw, 2.5rem);
    text-transform: uppercase;
  }
  &-line {
    background-color: var(--components-one);
    width: 100%;
    height: 0.1875rem;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: 500ms;
  }
}
