// MIXINS
@import '../../styles/global/mixins';

// STYLES
.header {
  padding: clamp(0.5rem, 1vw, 2rem) clamp(1rem, 2vw, 4rem);

  &-ul {
    @include flex(row, wrap, center, center);
    gap: clamp(1.5rem, 3vw, 6rem);
  }
  &-li {
    @include flex(column, nowrap, center, center);

    &:hover {
      .header-line {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }
    }
  }
  &-a {
    font-size: clamp(0.85rem, 1.25vw, 3rem);
    text-transform: uppercase;
  }
  &-line {
    background-color: var(--components-one);
    width: 100%;
    height: clamp(0.1875rem, 0.1875vw, 1.25rem);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: 500ms;
  }
}
