// MIXINS
@import '../../styles/global/mixins';

// STYLES
.projects {
  @include flex(column, nowrap, center, center);
  gap: clamp(0.5rem, 1vw, 2rem);
  padding: clamp(0.5rem, 1vw, 2rem) clamp(1.5rem, 3vw, 6rem);

  &-title {
    font-size: clamp(3.5rem, 7vw, 14rem);
  }
  &-span {
    color: var(--components-one);
  }
  &-content {
    @include grid();
    grid-template-columns: repeat(auto-fit, minmax(clamp(250px, 100%, 700px), 1fr));
    gap: clamp(0.5rem, 1vw, 2rem);
  }
  &-art {
    position: relative;

    &:hover {
      .redirect-group {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

        &-btn {
          width: clamp(1.75rem, 3.5vw, 5rem);
        }
      }
      .projects-picture {
        & img {
          transform: scale(1);
        }
      }
    }
  }
  &-picture {
    overflow: hidden;
  }
  &-img {
    transform: scale(1.1);
    transition: 500ms;
  }
}
